
   body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
   }

   #bigDiv {
       display: flex;
       justify-content: center;
       flex-direction: column;
       width: 100%;
       
    }

   #signUpDiv {
        width: 600px;
        background-color: #0327d6;
        justify-content: center;
        padding: 20px;
        margin: 20px;
    }   

    .row {
        display: flex;
        justify-content: center;
    }

    #studybearLogo{
        height: 50px;
        width: 250px;
    }