@import "../../variables";

.button {
  width: 100%;
  display: block;
  opacity: 80%;
  color: #fff;
  background-color: #198754;
  border: $main-border black;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  &:hover,
  &:active {
    opacity: 100%;
  }
  &:focus {
    outline: none;
  }
}
